
/*  Site layout and structure
*********************************** */

html {
  height:100%;
  overflow-x:hidden;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;

  // &.modal_isOpen {
  //   overflow:hidden;
  // }
}

body {
  position:relative;

  min-width:$width__minSiteWidth_PX;
  min-height:100%;
}

.thePage {
  position:relative;

  height:100%;
  z-index: 2;

  padding:{
    top:2rem;
  }

  overflow:hidden;

}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Site layout – Full width sections
******************************** */
.pane {
  display:block;
  width:100%;
  background-color:transparent;

  padding:{
    @include clamp(left,20,85,1440);
    @include clamp(right,20,85,1440);
  }

  &.noPadding {
    padding:{
      left:0;
      right:0;
    }
  }

  .paneInner {
    max-width: $grid_maxWidth;

    margin: 0 auto;

    &.widthUnconstrained {
      max-width:none;
    }

  }
}


.mainContent {

}

.txtBox {
  margin:{
    top:2rem;
  }
}

/*  Default layouts:
************************************* */
.gridList {
  list-style:none;
  padding:0;
  margin:0;

  &.style__1col {
    @include grid(1,true);
  }
  &.style__4col {
    @include grid(1,true);

    @include min_552 {
      @include grid(2);
    }
    @include min_840 {
      @include grid(3);
    }
    @include min_1128 {
      @include grid(4);
    }
  }
}

.menu {
  @include in_print {
    display:none;
  }
}